* {
  padding: 0;
  margin: 0;
}

.nav {
  background-color: rgb(140, 185, 185);
  height: 20px;
  padding: 10px;
  text-align: center;
  margin-bottom: 10px;
}

.banner {
  background-color: blue;
  height: 200px;
}

.content {
  background-color: rgb(140, 230, 230);
  height: 400px;
}


footer {
  background-color: rgb(52, 32, 32);
  height: 20px;
  height: 100px;

}

img {
  width:140px;
  height:140px;

filter: grayscale(100%) invert(100%);
}
